/*HEADER*/

.logo {
    margin-top: 1%;
    width: 400px;
    float: left;
    padding-right: 2%;
}

.header p{
    padding-top: 2.5%;
    padding-right: 5%;
}

hr {
    border: 2px solid black;
}

#cart, #prod, #cart2, #prod2 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    float: right;
    font-size: 20px;
}

#prod {
    font-weight: bold;
    background-color: yellow;
}

#cart2{
    font-weight: bold;
    background-color: yellow;
}

#prod2{
    padding-right: 5%;
}

#cart{
    padding-left: 5%;
}

a:link, a:visited{
    color: black;
}

#top{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

/*GALLERY*/
.products1, .products2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.products1 img, .products2 img
{
    width: 285px;
    height: 285px;
    border: 2px solid black;
}

.originals:hover, .straws:hover, .apples:hover, .raisins:hover, .doubles:hover, .walnuts:hover {
    background: yellow;
    padding: 10px;
}

.products1 p, .products2 p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
   margin-top: 1%;
   margin-bottom: 0%;
}

/*PDP*/
#original2
{
    width: 600px;
    height: 600px;
    border: 3px solid black;
    float: left;
    margin-left: 65px;
    margin-top: 4%;
    margin-right: 5%;
}

.text {
    margin-top: 8%;
}

.text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.desc p {
    margin: 0%;
}

.glaze {
    padding-top: 50px;
    margin-bottom: 2%;
}

.size{
    margin-bottom: 2%;
    padding-top: 20px;
}

select {
    width: 230px;
    height: 40px;
    border: 2px solid black;
}

#add{
    border: 2px solid black;
    padding: 5px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: yellow;
    font-weight: 400;
    float: inline-end;
    margin-right: 50px;
}

.last{
    margin-top: 100px;
    display: flex;
    float: right;
}

#price{
    display: flex;
    float: right;
    padding-left: 100px;
}

/*CART*/
.items{
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.items img{
    width: 150px;
    border: 4px black solid;
    margin-top: 4%;
}

#remove {
    text-decoration: underline;
}

.originals3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#checkout {
    float: right;
    border: 2px black solid;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 50px;
    font-weight: bold;
    background-color: yellow;
}

#link {
    text-decoration: none;
}

#price2 {
    float: right;
    padding-left: 200px;
}

#price3 {
    float: right;
    padding-right: 50px;
}

.total{
    margin-left: 190px;
    font-size:  30px;
}

.options {
    padding-top: 30px;
}

.options p {
    margin: 0%;
    font-size: 25px;
    padding-left: 30px;
}